body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #020202;
    color: #030303;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #636161;
    color: #ffffff;
    text-align: center;
}

main {
    padding: 20px;
}

#selection {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}   

#hardware-selector {
    
    background-color: #9b9797;
    border: 3.5px solid #636161;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

h3 {
    margin-top: 20px;
}